{
    "identities": [
      {
        "name": "anonymous",
        "actions": [
          "Read:$SEAWEEDFS_PUBLIC_BUCKET_NAME"
        ]
      },
      {
        "name": "some_admin_user",
        "credentials": [
          {
            "accessKey": "$SEAWEEDFS_ACCESS_KEY",
            "secretKey": "$SEAWEEDFS_SECRET_KEY"
          }
        ],
        "actions": [
          "Admin",
          "Read",
          "List",
          "Tagging",
          "Write"
        ]
      }
    ]
}
